{% extends "recipeblog/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-4 justify-end ">
        <div class="post-search-card ">
            <h2> Search </h2>
            <form method="GET" action="{% url 'search' %}">
                <input style="margin-right:10px;" type="text" name='query' placeholder="ingredient, dish, keyword..." value="{{ request.GET.query }}" required>
                <input type="submit" class="btn btn-outline-primary loader" value="Submit">
            </form>
            <div style="margin-top:10px;" class="alert alert-info" role="alert">
                If you want to search more than one item, please add space between items
            </div>
        </div>

        <div class="post-search-card ">
            <h2> Top Used Ingredients </h2>
            <ul>
                {% for item in most_used_ingredients %}
                    <li><a class="btn btn-link loader" href="{% url 'search_ingredient' item_val=item.ingredients__ingredient_name %}"> {{item.ingredients__ingredient_name}}({{item.total}})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-8">
        {% for post in post_list %}
            <div class="post-card">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post }}</a></h1>
                <img class="post-img" alt="{{ post }}" src="{{ post.image.url }}"/>
                <p>{{ post.description|safe |truncatechars:200}}</p>

                <div class="post-card-footer">
                    <strong>{{ post.published_date|date:"d/m/Y"}} . {{post.like.count}} likes . {{post.rate_avg}}/5 ({{post.rate.count}} Votes). {{post.approve_comment.count}} comments . by {{post.author}}
                        {% if user == post.author %} </strong>
                        <a class="btn btn-link loader" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                        <a class="btn btn-link loader" href="{% url 'post_remove' pk=post.pk %}">Remove</a>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>

     <!-- pagination-->
    <div class=" col-md-8 ">
        {% if is_paginated %}
              <ul class="pagination pagination-lg post-pagination">
                {% if page_obj.has_previous %}
                  <li class="page-item loader"><a class="page-link active" href="?page={{ page_obj.previous_page_number }}">Previous Page</a></li>
                {% else %}
                  <li class="page-item disabled"><a href="#" class="page-link disabled"  aria-pressed="true">Previous Page</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                  <li class="page-item loader"><a class="page-link active" href="?page={{ page_obj.next_page_number }}">Next Page</a></li>
                {% else %}
                  <li class="page-item disabled"><a href="#" class="page-link disabled" role="button" aria-pressed="true">Next Page</a></li>
                {% endif %}
              </ul>
        {% endif %}
        <a style="color:grey;" class="alert alert-light post-pagination-footer" role="alert">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </a>
    </div>
{% endblock %}