{% extends "recipeblog/base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>{{ post.title }}</h1>
    {% if post.published_date %}
        <div card-top>
            <img src="/media/img/knife.png" alt="knife"> {{ post.author  }}
            <img src="/media/img/muscle.png" alt="muscle"> {{ post.difficulty }}
            <img src="/media/img/date.png" alt="date"> {{ post.published_date|date:"d/m/Y" }}
        </div>
    {% else %}
        <a class="btn btn-outline-primary loader" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}

    <img class="rounded post-img" alt="{{ post }}" src="{{ post.image.url }}"/>

    <div class="post-detail-btn">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary loader" href="{% url 'post_like' pk=post.pk %}">Like ({{post.like.count}})</a>
        {% else %}
            <a class="btn btn-outline-primary loader" href="{% url 'login' %}">Like ({{post.like.count}})</a>
        {% endif %}
    </div>

    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in post.ingredients.all %}
            <li> {{ingredient}}</li>
        {% endfor %}
    </ul>

    <h2>Description</h2>
    <p>{{ post.description|safe|linebreaksbr}}</p>


    {% if user == post.author %}
        <div class=" justify-end">
            <a class="btn btn-outline-primary loader" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
            <a class="btn btn-outline-primary loader" href="{% url 'post_remove' pk=post.pk %}">Remove</a>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <form  action="{% url 'post_rate' pk=post.pk %}" method="POST">
            {% csrf_token %}
            <select name="point">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <input type="submit" class="btn btn-outline-primary loader" value="Rate"/>
            <button type="button" class="btn btn-info loader">You Rated: {{post.rate_avg}}/5 ({{post.rate.count}} Votes)</button>
        </form>
    {% else %}
        <a class="btn btn-outline-primary loader" href="{% url 'login' %}">Rate</a>
    {% endif %}

    <hr>
    {% if user.is_authenticated %}
        <a class="btn btn-outline-primary loader" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% else %}
        <a class="btn btn-outline-primary loader" href="{% url 'login' %}">Add comment</a>
    {% endif %}

    <div class="container">
        {% for comment in post.comments.all %}
        <hr>
        <br>
            {% if user.is_authenticated or comment.approved_comment %}
                <p> @<strong>{{ comment.author }}:</strong> {{ comment.text|safe|linebreaks }}
                {{ comment.created_date|date:"d/m/Y" }}</p>
                {% if not comment.approved_comment %}
                    <a class="btn btn-outline-primary" href="{% url 'comment_remove' pk=comment.pk %}">Delete</a>
                    <a class="btn btn-outline-primary" href="{% url 'comment_approve' pk=comment.pk %}">Approve</a>
                {% endif %}
            {% endif %}
            {% empty %}
            <p>No comments posted.</p>
        {% endfor %}
    </div>
{% endblock %}